.coin-in {
  border: 2px solid black;
  margin-top: 25px;
  height: 25%;
}

.coins-input-group {
  display: flex;
  flex-flow: row wrap;
}

.coin-input {
  flex: 1;
  text-align: center;
  margin: 5px 10px 10px;
}

.coin-input > input {
  max-width: 50px;
}

.insert-button {
  margin: 10px;
}

.total-inserted {
  margin: 10px;
}
